<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>Vault | Lyi Algaea</title>
	<style>
		body {
			font-family: "Condiment", Condiment, handwriting;
			background-color: #ffffff;
		}

		h1,
		h2,
		h4,
		h5,
		h6 {
			font-family: "Playfair Display";
			letter-spacing: 1.6px;
		}
		.slider-wrapper {
			display: inline-block;
			width: 20px;
			height: 150px;
			padding: 0;
		}

		.slider-wrapper input {
			width: 150px;
			height: 20px;
			margin: 0;
			transform-origin: 75px 75px;
			transform: rotate(-90deg);
		}
		.btn {
			background-color: DodgerBlue;
			border: none;
			color: white;
			padding: 6px 10px;
			cursor: pointer;
			font-size: 14px;
		}

		/* Darker background on mouse-over */
		.btn:hover {
			background-color: RoyalBlue;
		}
	</style>
</head>
<body>
	<!-- Navbar (sit on top) -->
	<div class="w3-top" style="background-color: rgb(210, 214, 214);">
		<div class="w3-bar w3-padding w3-card"
			style="letter-spacing:2px;color: black;background-color: rgb(255, 255, 255);">
			<a href="/#home" class="w3-bar-item w3-button" style="font-size: 15px;" >Lyi Algaea</a>
			<div class="w3-right w3-hide-small">
				<a href="/missions" class="w3-bar-item w3-button">Missions</a>
				<a href="/messages" class="w3-bar-item w3-button">Messages</a>
				<a href="/logout" class="w3-bar-item w3-button">Logout</a>
			</div>
		</div>
	</div>

	<div class="w3-row w3-padding-64">
		<form action="/missions/vault/" method="POST">
			<div class="m6" style="padding:48px; text-align:center;">
				<div>
					<div style="margin-left:1.5em;margin-right:1.5em;" class="slider-wrapper">
						<input type="range" name="input0" step="1" value="<%= data0 %>" min="0" max="10" required>
					</div>
					<div style="margin-left:1.5em;margin-right:1.5em;" class="slider-wrapper">
						<input type="range" name="input1" step="1" value="<%= data1 %>" min="0" max="10" required>
					</div>
					<div style="margin-left:1.5em;margin-right:1.5em;" class="slider-wrapper">
						<input type="range" name="input2" step="1" value="<%= data2 %>" min="0" max="10" required>
					</div>
				</div>
				<div style="padding:32px;">
					<button class="btn w3-bar-item w3-button">Submit</button>
				</div>
				<div>
					<p><%= payload %></p>
				</div>
			</div>
		</form>
	</div>

</body>
</html>
