<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="icon" type="image/png" href="/agent_profile.png">
	<title>Mission | Lyi Algaea</title>
	<style>
		body {
			font-family: "Condiment", Condiment, handwriting;
			background-color: #ffffff;
		}

		h1,
		h2,
		h4,
		h5,
		h6 {
			font-family: "Playfair Display";
			letter-spacing: 1.6px;
		}
	</style>
</head>
<body>
		<!-- Navbar (sit on top) -->
		<div class="w3-top" style="background-color: rgb(210, 214, 214);">
			<div class="w3-bar w3-padding w3-card"
				style="letter-spacing:2px;color: black;background-color: rgb(255, 255, 255);">
				<a href="/#home" class="w3-bar-item w3-button" style="font-size: 15px;" >Lyi Algaea</a>
				<div class="w3-right w3-hide-small">
					<a href="/missions" class="w3-bar-item w3-button">Missions</a>
					<a href="/messages" class="w3-bar-item w3-button">Messages</a>
					<a href="/logout" class="w3-bar-item w3-button">Logout</a>
				</div>
			</div>
		</div>

		<div class="w3-col w3-padding-64 center-missions">
			<div style="margin: 5%;">
				<h3><%= data %></h3>
			</div>
		</div>
</body>
</html>
